server:
  port: 9000

spring:
  flyway:
    enabled: true
    locations: classpath:db.migration
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/authdb
    username: postgres
    password: qwer
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false


logging:
  level:
    org.springframework.security: DEBUG
